
*{
	font-family: 'Roboto', sans-serif;
}

.grad1{
    background: -webkit-linear-gradient(left, #BBD2C5 , #536976, #292E49); /* For Safari 5.1 to 6.0 */
}
.grad2{
    background: -webkit-linear-gradient(left, #457fca , #5691c8); /* For Safari 5.1 to 6.0 */
}
.grad3{
  background: -webkit-linear-gradient(left, #536976 ,#292E49); /* For Safari 5.1 to 6.0 */
}
.grad4{
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}
.bg-1 { 
	background-color: #457fca;
	color: #ffffff;
	border: #82b74b;
 }

 .bgWhite{
  background-color: #ffffff;
 }
.menuOpt{
  height: 60px;
  font-size: 2em;
  line-height: 1em;
 }
.list-group-item{
  text-align: center;
  font-size: 1em;
}
.tWhite{
  color: white;
}
.tBlue{
  color: #457fca;
}
.font10{
  font-size: 10px;
}
.padTop{
	padding-top: 100px;
}
.padTop70{
  padding-top: 70px;
}
.marginTop{
  margin-top: 1.5em;
}
.marginTop2{
  margin-top: 50px;
}
.marginTop3{
  margin-top: 30px;
}

.backBtn{
  float: left; 
  margin-left: 1em;
  margin-top: 5px;
  height: 35px;
  background-color: white;
}
.calcHeader{
  text-align: left;
  color: white;
  font-size: 1.5em;
  margin-top: 0.5em;
  width: 40%;
  margin-left: 5%;
  line-height: 50px;
}
.calcHeaderMCQ{
  text-align: center;
  float: left;
  color: white;
  font-size: 1.5em;
  margin-top: 0.5em;
  width: 50%;
  margin-left: 5%;
  line-height: 30px;
}
.btnHamburger{
  background: none;
  border: solid 1px white;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 5px;
}
.hamburger{
  width: 20px;
  height: 1px;
  background-color: #fff;
  margin: 4px 0;
}

h1, h2, h3, h4, h5{
	text-align: center;
}

p{
	text-align: center;
}
.textCentre{
  	text-align: center;
}
#welcomeP{
  font-size: 16px;
  color: black;
  opacity: 1;
}
.nav{
	background-color: #82b74b;
	text-align: center;
  border: none;
}
.navbtn{
	margin-left: 1em;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #d5e1df;
	font-size: 1.5em;
  opacity: 0.5;
}
.activeNavbtn{
  color: white;
  opacity: 1;
}
#activeLi{
	color: #82b74b;
}
.invis{
	display: none;
}
.roundCorner{
	border-radius: 1em;
}

.noMargin{
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.noPad{
  padding: 1.5em;
  padding-bottom: 1em;
}
.star{
 color: #ffd700 
}



.questionHeader{
  background-color: #f5f5f5;
  color: black;
}


.CSjumbo{
  background-color: #f5f5f5;
  
}
.CSText{
  width: 40%;
  font-size: 1em;
  height: 40px;
  text-align: center;
  background: #fff;
  border: solid #292E49 2px;
  border-radius: 40px;
}

input:focus{
	border: 1px solid #757575;
}
input::placeholder{
	opacity: 0.4;
}
.checkBtn{
  border: 2px solid #292E49;
  color: #292E49;
  background: none;
  border-radius: 40px;
  text-align: center;
  width: 55%;
  font-size: 1em;
  height: 40px;
  margin-left: 5px;
}

.qNo{
	margin-top: 20px;
  color: white;
  margin-bottom: 20px;
}
.qContainer{
  border-radius: 5px;
  width: 98%;
}
.listStyle{
  text-align: center;
  border-radius: 5px;
  margin-top: 1em;
  font-size: 11px;
}
.icon{
  float: right;
  color: white;
}
.width100{
  width: 100%;
}
.floatL{
  float: left;
}
.floatR{
  float: right;
}
.chkR{
  float: right;
  
}

.radioBlock{
    display: none;
  }
.radioBlock + label{
  min-height: 30px;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  line-height: 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  padding: 10px 10px 10px 10px;
}

.radioBlock:checked + label{
  color: #292E49;
  background: -webkit-linear-gradient(left, #fff ,#f5f5f5);
}


.pulse {

  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  border-radius: 1px;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 1px rgba(255,255 ,255 , 0.3);
    box-shadow: 0 0 0 1px rgba(255,255 ,255 , 0.3);
  }
  70% {
      -moz-box-shadow: 0 0 0 3px rgba(255,255 ,255 , 0.3);
      box-shadow: 0 0 0 3px rgba(255,255 ,255 , 0.3);
  }
  100% {
      -moz-box-shadow: 0 0 0 1px rgba(255,255 ,255 , 0.3);
      box-shadow: 0 0 0 1px rgba(255,255 ,255 , 0.3);
  }
}

.radio{
  display: none;
}
 .radio + label{
  min-height: 40px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  font-size: 1em;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);  
}
.radio:checked + label{
  color: white;
  background: #0288D1;
}

.scoreCont{
  position: absolute;
  right: 20%;
  top: 10px;
  width: 80px;
  height: 35px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  color: #457fca;
  font-size: 1em;
  line-height: 35px;
}
.scoreContMCQ{
  position: absolute;
  right: 1%;
  top: 10px;
  width: 80px;
  height: 35px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  color: #457fca;
  font-size: 1em;
  line-height: 35px;
}
/* extended matching elements
*/

.emSel{
  float: left;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;

  border-radius: 5px;
  line-height: 40px;
  text-align: center;
}
table{
  border-radius: 5px;
  width: 100%;
  text-align: center;
  background-color: white;
}
.emTR{
  height: 40px;
}
td{
  width: 50%;
}
@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.8);
     }
     100% {
          box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
     }
}
.pulse
{
     animation: shadow-pulse 1s infinite;
}
.streak{
  position: absolute;
  right: 0;
  width: 100px;
  height: 40px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #457fca;
  background: -webkit-linear-gradient(right, #ECE9E6, #ffffff);
  line-height: 40px;
  text-align: center;
 
}
#highScores{
  position: absolute;
  left: 0;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@keyframes streakGrow{
  0% {
          width: 0px;      
     }
  
  100% {
          width: 100px;
     }
}
.streakGrow{
  animation: streakGrow 1s;
}


/* circle percentage
*/
.circle{
  position: relative;
  width: 200px;
  height: 200px;
  background: #bdc3c7;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;  
  margin-left: 20%;
}

.fill{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(left, #457fca , #5691c8);
}

.score{
  position: absolute;
  width: 100%;
  top: 50px;
  text-align: center;
  font-family: Arial, sans serif;
  color: #fff;
  font-size: 40pt;
  line-height: 0;
  font-weight: normal;
}
